<table class="tx-z3-shop" >
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.name" />
		</td>
		<td>
			{product.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.description" />
		</td>
		<td>
			{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.amount_in_shop" />
		</td>
		<td>
			{product.amountInShop}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.weight" />
		</td>
		<td>
			{product.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.record_type" />
		</td>
		<td>
			{product.recordType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.tablename" />
		</td>
		<td>
			{product.tablename}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_product.item" />
		</td>
		<td>
			{product.item}
		</td>
	</tr>
</table>