

<label for="number">
	<f:translate key="tx_z3shop_domain_model_address.salutation" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="salutation" />

<label for="firstname">
	<f:translate key="tx_z3shop_domain_model_address.firstname" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="firstname" />

<label for="lastname">
	<f:translate key="tx_z3shop_domain_model_address.lastname" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="lastname" />

<label for="streetNr">
	<f:translate key="tx_z3shop_domain_model_address.streetNr" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="streetNr" />

<label for="postalCode">
	<f:translate key="tx_z3shop_domain_model_address.postalCode" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="postalCode" />

<label for="city">
	<f:translate key="tx_z3shop_domain_model_address.city" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="city" />

<label for="country">
	<f:translate key="tx_z3shop_domain_model_address.country" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="country" />

<label for="staticCountry">
	<f:translate key="tx_z3shop_domain_model_address.staticCountry" /> <span class="required">(required)</span>
</label>
<f:form.textfield property="staticCountry" />