<!-- ###master_input### -->
<label for="###fieldname###" class="sr-only">###LLL:###fieldname###### ###required_###fieldname######</label>
<input type="text" size="20" id="###fieldname###" class="form-control ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######" />

<!-- ###master_input### -->


<!-- ###master_textarea### -->

<label for="###fieldname###" class="sr-only">###LLL:###fieldname###### ###required_###fieldname######</label>
<textarea rows="14" id="###fieldname###" class="form-control ###is_error_###fieldname######" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:###fieldname###### ###required_###fieldname######">###value_###fieldname######</textarea>

<!-- ###master_textarea### -->


<!-- ###master_input_ajax### -->

<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
  ###validate_###fieldname######
</div>
<!-- ###master_input_ajax### -->


<!-- ###master_textarea_ajax### -->

<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
  <textarea rows="3" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
  ###validate_###fieldname######
</div>
<!-- ###master_textarea_ajax### -->


<!-- ###master_select_salutation### -->
<label for="salutation" class="sr-only">###LLL:salutation### ###required_salutation###</label>
<select id="salutation" name="###formValuesPrefix###[salutation]" class="select form-control ###is_error_[salutation]###">
	<option value="">###LLL:salutation### ###required_salutation###</option>
	<option value="###LLL:salutationval_1###" ###selected_salutation_###LLL:salutationval_1######>###LLL:salutationval_1###</option>
	<option value="###LLL:salutationval_2###" ###selected_salutation_###LLL:salutationval_2######>###LLL:salutationval_2###</option>
</select>
###validate_salutation###
<!-- ###master_select_salutation### -->


<!-- ###master_select_billingsalutation### -->
<label for="billingsalutation" class="sr-only">###LLL:billingsalutation### ###required_billingsalutation###</label>
<select id="billingsalutation" name="###formValuesPrefix###[billingsalutation]" class="select form-control ###is_error_[billingsalutation]###">
	<option value="">###LLL:salutation### ###required_billingsalutation###</option>
	<option value="###LLL:salutationval_1###" ###selected_billingsalutation_###LLL:billingsalutationval_1######>###LLL:salutationval_1###</option>
	<option value="###LLL:salutationval_2###" ###selected_billingsalutation_###LLL:billingsalutationval_2######>###LLL:salutationval_2###</option>
</select>
###validate_salutation###
<!-- ###master_select_billingsalutation### -->


<!-- ###master_select_shippingsalutation### -->
<label for="shippingsalutation" class="sr-only">###LLL:shippingsalutation### ###required_shippingsalutation###</label>
<select id="shippingsalutation" name="###formValuesPrefix###[shippingsalutation]" class="select form-control ###is_error_[shippingsalutation]###">
	<option value="">###LLL:salutation### ###required_salutation###</option>
	<option value="###LLL:salutationval_1###" ###selected_shippingsalutation_###LLL:shippingsalutationval_1######>###LLL:salutationval_1###</option>
	<option value="###LLL:salutationval_2###" ###selected_shippingsalutation_###LLL:shippingsalutationval_2######>###LLL:salutationval_2###</option>
</select>
###validate_salutation###
<!-- ###master_select_shippingsalutation### -->


<!-- ###master_select_department### -->
<label for="department" class="sr-only">###LLL:department### ###required_department###</label>
<select id="department" name="###formValuesPrefix###[department]" class="select form-control ###is_error_[department]###">
	<option value="">###LLL:department### ###required_department###</option>
	<option value="###LLL:departmentval_1###" ###selected_department_###LLL:departmentval_1######>###LLL:departmentval_1###</option>
	<option value="###LLL:departmentval_2###" ###selected_department_###LLL:departmentval_2######>###LLL:departmentval_2###</option>
	<option value="###LLL:departmentval_3###" ###selected_department_###LLL:departmentval_3######>###LLL:departmentval_3###</option>
	<option value="###LLL:departmentval_4###" ###selected_department_###LLL:departmentval_4######>###LLL:departmentval_4###</option>
	<option value="###LLL:departmentval_5###" ###selected_department_###LLL:departmentval_5######>###LLL:departmentval_5###</option>
	<option value="###LLL:departmentval_6###" ###selected_department_###LLL:departmentval_6######>###LLL:departmentval_6###</option>
</select>
###validate_salutation###
<!-- ###master_select_department### -->


<!-- ###master_select_country### -->
<label for="country" class="sr-only">###LLL:country### ###required_country###</label>
<select id="country" name="###formValuesPrefix###[country]" class="select form-control ###is_error_[country]###">
	<option value="">###LLL:country### ###required_country###</option>
	###countries###
</select>
###validatecountry###
<!-- ###master_select_country### -->


<!-- ###master_select_shippingcountry### -->
<label for="shippingcountry" class="sr-only">###LLL:shippingcountry### ###required_shippingcountry###</label>
<select id="shippingcountry" name="###formValuesPrefix###[shippingcountry]" class="select form-control ###is_error_[shippingcountry]###">
	<option value="">###LLL:shippingcountry### ###required_shippingcountry###</option>
	###countries###
</select>
###validatecountry###
<!-- ###master_select_shippingcountry### -->


<!-- ###master_contact-type### -->
###error_contact-type###    
<div class="type-check">
	<label for="contact-type-private" ###is_error_contact-type###>###LLL:contact-type### ###required_contact-type###</label>
	<div>
		<input type="radio" id="contact-type-private" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.private###" ###checked_contact-type_###LLL:contact-type.private###### />
		<label for="contact-type-private">###LLL:contact-type.private###</label>
	</div>
	<div>
		<input type="radio" id="contact-type-commercial" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.commercial###" ###checked_contact-type_###LLL:contact-type.commercial###### />
		<label for="contact-type-commercial">###LLL:contact-type.commercial###</label>
	</div>
</div>
<!-- ###master_contact-type### -->


<!-- ###master_file### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
	<input type="submit" ###submit_reload### class="button submit ###is_error_###fieldname######" value="###LLL:submit_reload###" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
  	<span class="label">###LLL:uploadedFiles_count###</span> <span class="info">######fieldname###_fileCount### / ######fieldname###_maxCount###</span>
	</div>
</div>
######fieldname###_uploadedFiles###
<!-- ###master_file### -->


<!-- ###master_basicfile### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
	</div>
</div>
<!-- ###master_basicfile### -->


<!-- ###master_checkbox### -->
<label for="###fieldname###" class="checkbox-inline">
	<input type="checkbox" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="1" <!-- ###ISSET_###fieldname###### -->checked="checked"<!-- ###ISSET_###fieldname###### -->/>###LLL:###fieldname######
</label>
<!-- ###master_checkbox### -->


<!-- ###master_spamprotection-captcha### -->
<div class="type-text">
###error_captchafield###
	<label>###LLL:captcha### ###required_captchafield###</label>
	<div class="captcha">	
		###CAPTCHA###
		<input type="text" name="###formValuesPrefix###[captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-captcha### -->


<!-- ###master_spamprotection-jm_recaptcha### -->
<div class="type-text">
###error_recaptcha_response_field###
	<label>###LLL:captcha### *</label>
	<div class="recaptcha">
		###RECAPTCHA###
	</div>
</div>
<!-- ###master_spamprotection-jm_recaptcha### -->


<!-- ###master_spamprotection-sr_freecap### -->
<div class="type-text">
###error_freecapfield###
	<label>###SR_FREECAP_NOTICE### ###required_freecapfield###</label>
	<div class="sr_freecap">
		###SR_FREECAP_IMAGE###
		<div class="sr_freecap-input">
			<input type="text" size="15" id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###" value="" />
			###SR_FREECAP_CANT_READ###
		</div>
	</div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->


<!-- ###master_spamprotection-wt_calculating_captcha### -->
<div class="type-text">
###error_wt_calculating_captchafield###
	<label>###LLL:captcha### ###required_wt_calculating_captchafield###</label>
	<div class="wt_captcha">
		###WT_CALCULATING_CAPTCHA###
		<input type="text" name="###formValuesPrefix###[wt_calculating_captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-wt_calculating_captcha### -->


<!-- ###master_spamprotection-mathguard### -->
<div class="type-text">
###error_mathguard_answer###
	<label>###LLL:captcha### *</label>
	<div class="mathguard">	
		###MATHGUARD###
	</div>
</div>
<!-- ###master_spamprotection-mathguard### -->


<!-- ###master_spamprotection-timecheck### -->
<input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###" />
<!-- ###master_spamprotection-timecheck### -->


<!-- ###master_submit### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="btn btn-primary pull-right" value="###LLL:btn_submit###" />
</div>
<!-- ###master_submit### -->


<!-- ###master_submit_prev-step### -->
	<input type="submit" ###submit_prevStep### class="btn btn-default btn-block pull-left script-hidden" value="###LLL:btn_prevStep###" />
<!-- ###master_submit_prev-step### -->


<!-- ###master_sumbit_next-step### -->
  	<input type="submit" ###submit_nextStep### class="btn btn-default btn-block pull-right" value="###LLL:btn_nextStep###" />
<!-- ###master_sumbit_next-step### -->


<!-- ###master_order-now### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="btn btn-primary pull-right btn-block" value="###LLL:btn_orderNow###" />
</div>
<!-- ###master_order-now### -->

<!-- ###master_get-offer### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="btn btn-primary pull-right btn-block" value="###LLL:btn_getOffer###" />
</div>
<!-- ###master_get-offer### -->


<!-- ###master_submit-disable### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit ###validation-status###" value="###LLL:submit###" />
</div>
<!-- ###master_submit-disable### -->


<!-- ###master_ajax-submit### -->
<div class="type-button">
	###loading_ajax-submit###
	<input type="submit" ###submit_nextStep### class="button submit" value="###LLL:submit###" />
	<div class="clear"></div>
</div>
<!-- ###master_ajax-submit### -->


<!-- ###master_next### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit" value="###LLL:next###" />
</div>
<!-- ###master_next### -->


<!-- ###master_prev### -->
<div class="type-button">
  	<input type="submit" ###submit_prevStep### class="button submit" value="###LLL:prev###" />
</div>
<!-- ###master_prev### -->


<!-- ###master_form-start### -->
<form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###">
  ###HIDDEN_FIELDS###
  <h2>###LLL:label_fieldset###</h2>
<!-- ###master_form-start### -->


<!-- ###master_multipart-form-start### -->
<form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###" enctype="multipart/form-data" >
  ###HIDDEN_FIELDS###
<!-- ###master_multipart-form-start### -->


<!-- ###master_form-end### -->
</form>
<!-- ###master_form-end### -->

<!-- ###master_section-start### -->
<fieldset>
<!-- ###master_section-start### -->

<!-- ###master_section-end### -->
</fieldset>
<!-- ###master_section-end### -->



<!-- ###master_disclaimer### -->
<label>
	<input type="checkbox" id="###formValuesPrefix###-disclaimer" name="###formValuesPrefix###[disclaimer-accepted]" value="###LLL:disclaimerAccepted###" ###checked_disclaimer-accepted### />
	###LLL:text_disclaimer-1### ###DISCLAIMER_AGB_LINK### ###LLL:text_disclaimer-2### ###DISCLAIMER_CANCELATION_LINK### ###LLL:text_disclaimer-2###
</label>
<!-- ###master_disclaimer### -->


<!-- ###master_steps### -->
	###LLL:step_label### ###curStep### ###LLL:step_of### ###TOTAL_STEPS###
<!-- ###master_steps### -->