<!-- ###TEMPLATE_FORM2### -->
	###master_multipart-form-start_cart-form###

	<a href="#" class="back-link noscript-hidden"><i class="humbaur-icon-arrow-great-left"></i></a>
	
	<h1>###master_cartprev### Ihre Daten</h1>
	<h2>###master_steps###</h2>
	
	<div class="row clearfix">
		<div class="col-sm-6">
			###ERROR###
		</div>
	</div>
	
	<div class="shop-cart">
		<div class="row clearfix">
			<div class="span6">
				<h3>###LLL:formPartHeader_billingAddress###</h3>
				<fieldset>
					<div class="form-group row">
		  				<div class="col-sm-5">
		   					###master_select_billingsalutation###
						</div>
		  				<div class="col-sm-7">
						 	###master_input_billingfirstname###
						</div>
					</div>
					
					<div class="form-group">
						###master_input_billinglastname###
					</div>
					<div class="form-group">
						###master_input_billingcompany###
					</div>
					<div class="form-group">
						###master_input_billingstreetnr###
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							###master_input_billingzip###
						</div>
						<div class="col-sm-8">
							###master_input_billingcity###
						</div>
					</div>
									
					<div class="form-group">
						###master_input_billingphone###
					</div>
					<div class="form-group">
						###master_input_billingemail###
					</div>
					
				</fieldset>
			</div>
			<div class="span6">
				<h3>###LLL:formPartHeader_shippingAddress###</h3>
				<fieldset>
					<div class="form-group  delivery-check-container">
						
						###master_checkbox_altshippingaddress###
						<label class="checkbox-inline">
						Abweichende Lieferadresse benutzen</label>
					</div>
					<div class="form-group row">
		  				<div class="col-sm-5">
		   					###master_select_shippingsalutation###
						</div>
		  				<div class="col-sm-7">
						 	###master_input_shippingfirstname###
						</div>
					</div>
					<div class="form-group">
						###master_input_shippinglastname###
					</div>
					<div class="form-group">
						###master_input_shippingcompany###
					</div>
					<div class="form-group">
						###master_input_shippingstreetnr###
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							###master_input_shippingzip###
						</div>
						<div class="col-sm-8">
							###master_input_shippingcity###
						</div>
					</div>
					<div class="form-group">
						###master_input_shippingphone###
					</div>
					
				</fieldset>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			###LLL:text_requiredHint###<br/>
		</div>
	</div>
	<div class="row cart-next clearfix">
		<div class="col-sm-3 pull-left">
			###master_submit_prev-step###
		</div>
		<div class="col-sm-3 pull-right">
			###master_sumbit_next-step###
		</div>
		###master_form-end###
	</div>
	
<!-- ###TEMPLATE_FORM2### -->
