<table class="tx-z3-shop" >
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.number" />
		</td>
		<td>
			{order.number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.payment_type" />
		</td>
		<td>
			{order.paymentType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_type" />
		</td>
		<td>
			{order.shippingType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.price_sum_net" />
		</td>
		<td>
			{order.priceSumNet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.price_sum_gross" />
		</td>
		<td>
			{order.priceSumGross}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_fee" />
		</td>
		<td>
			{order.shippingFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.payment_fee" />
		</td>
		<td>
			{order.paymentFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_firstname" />
		</td>
		<td>
			{order.billingFirstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_lastname" />
		</td>
		<td>
			{order.billingLastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_company" />
		</td>
		<td>
			{order.billingCompany}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_street_nr" />
		</td>
		<td>
			{order.billingStreetNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_zip_city" />
		</td>
		<td>
			{order.billingZipCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_country" />
		</td>
		<td>
			{order.billingCountry}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_phone" />
		</td>
		<td>
			{order.billingPhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.billing_email" />
		</td>
		<td>
			{order.billingEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.alt_shipping_address" />
		</td>
		<td>
			{order.altShippingAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_firstname" />
		</td>
		<td>
			{order.shippingFirstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_lastname" />
		</td>
		<td>
			{order.shippingLastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_company" />
		</td>
		<td>
			{order.shippingCompany}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_street_nr" />
		</td>
		<td>
			{order.shippingStreetNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_zip_city" />
		</td>
		<td>
			{order.shippingZipCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_phone" />
		</td>
		<td>
			{order.shippingPhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.price_sum_all" />
		</td>
		<td>
			{order.priceSumAll}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.tax" />
		</td>
		<td>
			{order.tax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.payed" />
		</td>
		<td>
			<f:format.date format="d.m.Y">{order.payed}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipped" />
		</td>
		<td>
			<f:format.date format="d.m.Y">{order.shipped}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.ordered" />
		</td>
		<td>
			<f:format.date format="d.m.Y">{order.ordered}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.checked_terms" />
		</td>
		<td>
			{order.checkedTerms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_z3shop_domain_model_order.shipping_weight" />
		</td>
		<td>
			{order.shippingWeight}
		</td>
	</tr>
</table>